@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');
@tailwind base;

img {
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;        
    image-rendering: -o-crisp-edges;         
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

@tailwind components;

.form-text {
    @apply border-gray-300 w-full rounded-lg
        focus:ring-sky-500 focus:border-sky-500
        
}

.btn {
    @apply px-3 py-2 flex items-center justify-center rounded-lg
}

.btn-block {
    @apply !block w-full
}

.btn-primary {
    @apply bg-sky-500 text-white border border-sky-500
            hover:bg-sky-600 hover:border-sky-600
}

@tailwind utilities;