@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

@tailwind base;

img {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

@tailwind components;

.form-text {
  @apply w-full border-gray-300 rounded-lg focus:ring-sky-500 focus:border-sky-500;
}

.form-select {
  @apply w-full border-gray-300 rounded-lg focus:ring-sky-500 focus:border-sky-500;
}

.form-checkbox {
  @apply rounded w-5 h-5 border-gray-300 shadow-inner cursor-pointer text-sky-500
        focus:ring-sky-500
}

.form-radio {
  @apply rounded-full w-5 h-5 border-gray-300 shadow-inner cursor-pointer text-sky-500
        focus:ring-sky-500
}

.btn {
  @apply inline-flex items-center justify-center gap-1 px-3 py-2 rounded-lg;
}

.btn-block {
  @apply w-full;
}

.btn-primary {
  @apply text-white border bg-sky-500 border-sky-500 hover:bg-sky-600 hover:border-sky-600;
}

.btn-light {
  @apply text-gray-500 bg-white border border-gray-300 hover:bg-slate-100;
}

.btn-secondary {
  @apply text-gray-700 border border-slate-200 bg-slate-200 hover:bg-slate-300 hover:border-slate-300;
}

@tailwind utilities;

#sidebar .nav-heading {
  @apply text-xs font-thin text-gray-400 uppercase mb-2 mt-5
}

#sidebar .nav-item {
  @apply py-2 text-gray-400 flex items-center gap-2 w-full
        hover:text-white
}

